<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>LessonApp</h1></a>
        </div>
        <ul>
            <li><a href="/">Dersler</a></li>
            <li><a href="/hakkimda">Hakkımda</a></li>
            <li><a href="/ders/ekle">Ders ekle</a></li>
        </ul>
    </nav>
    <div class="dersler content">
        <h2>Bütün Dersler</h2>
    </div>
</body>
</html>