<nav>
    <div class="site-title">
        <a href="/"><h1>LessonApp</h1></a>
    </div>
    <ul>
        <li class="menu-item"><a href="/">Dersler</a></li>
        <li class="menu-item"><a href="/hakkimda">Hakkımda</a></li>
        <li class="menu-item"><a href="/ders/ekle">Ders ekle</a></li>
    </ul>
</nav>